* {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

a, a:visited {
    color: #166491;
}

a:active, a:focus, a:hover {
    color: #2197db;
}

a span {
    padding-left: 5px;
}

/*
 * See https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps
 *+ for why this is needed. (it doesn't apply to just tables)
 */
img {
    display: inline-block;
    vertical-align: bottom;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #F8F8F8;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, .exo {
    font-family: 'Exo', sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

#main {
    margin: 1em auto;
    padding-top: 0;
}

p {
    margin: 1em 0;
    padding: 0;
}

.constraint {
    max-width: 960px;
    margin: auto;
    padding: 10px;
}

#wrap {
    position: relative;
    min-height: 100%;
}

.description {
    display: none;
}

#header a, #header .inline-list li a:hover span {
    text-decoration: none;
}

#header {
    margin: 0;
    border: none;
    position: relative;
    line-height: 40px;
}

#header h1, #nav, #nav .nav-toggle {
    display: inline-block;
}

#nav .nav-toggle {
    position: absolute;
    top: 0;
    text-align: center;
    height: 40px;
}

#nav .nav-toggle a {
    height: 40px;
    width: 40px;
    vertical-align: top;
    line-height: 40px;
}

#header a {
    color: #333;
}

#header .constraint {
    padding-top: 0;
    padding-bottom: 0;
}

#header i {
    display: inline-block !important;
}

.nav-show, .nav-hide {
    font-family: FontAwesome;
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f03a";
    margin-left: 5px;
    vertical-align: top;
}

.nav-show, :target .nav-hide { display: inline-block; }
:target .nav-show, .nav-hide { display: none;         }

.sections {
    display: none;
}

.nav-toggle:hover, .nav-toggle:focus, :target .nav-toggle {
    height: 100%;
    vertical-align: center;
}

#header a {
    background: #F8F8F8;
}

#header a:hover, #header a:focus,
#header :target .nav-toggle a {
    background: #BBB;
}

:target .sections {
    display: block;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;

    z-index: 2;
}

:target .sections li {
    display: block;
}

:target .sections li:first-child a {
    border-top: 1px solid lightgrey;
}

:target .sections li a {
    display: block;
    text-align: left;
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid lightgrey;
}

.inline-list {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin: auto;
}

.inline-list li {
    display: inline-block;
    margin: 0;
    padding-right: 1em;
}

a, .has-icons a:hover {
    text-decoration: none;
}

a:hover, a:hover i[class^="icon-"] ~ span {
    text-decoration: underline;
}

i[class^="icon-"] {
    /* icons */
    text-decoration: none;
    display: none !important;
}

/* search */

/* Argh, I hate this. */
.clearfix { clear: both }

#searchbar {
    width: 100%;
    overflow-x: hidden;
}

#searchbar form > * {
    font-size: 1.1em;
    line-height: 1em;
}

#searchbar form {
    width: 100%;
    position: relative;
}

#searchbar .search-wrap {
    position: relative;
    background: white;
    border: 1px solid lightgrey;
    max-width: 620px;
}

#q {
    padding-right: 6em;
    border: none;
    width: 100%;
    outline: none;
}

#searchbar .submit {
    border: none;
    position: absolute;
    right: 0;
    padding: 5px 1em;
}

input[type=text] {
    margin: 0;
    padding: 5px;
    background: white;
    border: 1px solid #333;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 5px;
    background: lightgrey;
    border: 1px solid #333;
    border-left: none;
}

.icon-overlay .icon-search {
    margin-right: -5px;
}

.gray-input {
    color: #333333;
}

.index #searchbar {
    margin-top: 15px;
}

.exo { font-family: 'Exo', sans-serif; }
h1.exo {
    font-weight: 400;
    font-size: 3em;
    letter-spacing: -3px;
}
h2.exo {
    font-weight: 300;
    font-size: 1.9em;
    letter-spacing: -1px;
    color: #888888;
}

h2.subtitle {
    display: none;
}

@media(min-width: 960px) {
    i[class^="icon-"] {
        display: inline-block !important;
    }

    #header {
        text-align: right;
    }

    #header a {
        background: transparent;
    }

    #header a:hover, #header a:focus,
    #header :target .nav-toggle a {
        background: transparent;
        color: #666;
    }

    #header h1, #header .sections {
        display: block;
    }

    #header span {
        display: inline-block;
    }

    #header h1 {
        float: left;
        position: relative;
        z-index: 2;
    }

    #header .sections {
        text-align: right;
        font-size: 1.2em;
        position: static;
        z-index: 1;
        cursor: auto;
    }

    :target .sections li:first-child a {
        border-top: none;
    }

    #header .sections li, :target .sections li a {
        display: inline-block;
        border: none;
    }

    .sections li, .sections li:hover, .sections li:focus {
        color: inherit;
        background: inherit;
    }

    :target .sections li:first-child {
        border-top: none;
    }
    :target .sections li {
        width: auto;
        border-bottom: none;
    }

    h1.exo {
        font-size: 4em;
    }

    #header #nav .nav-toggle {
        display: none;
    }

    .description {
        display: block;
    }

    .index #searchbar, .index #searchbar .search-wrap {
        text-align: center;
        margin: 0 auto;
    }

    #searchbar .icon-search {
        position: absolute;
        left: 0;
        padding: 0 3px;
        max-width: 20px;
        margin-top: 3px;
    }

    #q {
        padding-left: 26px; /* 20px wide (icon) + 6px left/right margins (icon) */
        padding-right: 7em;/*10em;*/
    }
}
