* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

a, a:visited {
	color: #166491;
}

a:active, a:focus, a:hover {
	color: #2197db;
}

a span {
	padding-left: 5px;
}

/*
 * See https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps
 *+ for why this is needed. (it doesn't apply to just tables)
 */
img {
	display: inline-block;
	vertical-align: bottom;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #F8F8F8;
}

blockquote {
	position: relative;
	margin: 10px;
	padding: 0 2.5em;
	font-style: italic;
}

blockquote::before, blockquote::after {
	position: absolute;
	font-size: 2em;
	font-weight: bold;
}

blockquote::before {
	content: '\201C';
	margin-left: -1em;
	margin-top: -0.2em;
}

blockquote::after {
	content: '\201D';
	right: 0.5em;
}

figure {
	position: relative;
}

figcaption::before {
	content: "\2014";
}

figcaption {
	padding: 0;
	margin: 0;
	margin-left: 60px;
	font-style: italic;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, .exo {
	font-family: 'Exo', sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

#main {
	margin: 1em auto;
}

p {
	margin: 1em 0;
	padding: 0;
}

.constraint {
	max-width: 960px;
	margin: auto;
	padding: 10px;
}

#wrap {
	position: relative;
	min-height: 100%;
}

#header, #header a {
	color: white;
}

#header a {
	text-decoration: none;
}

#header .inline-list li a:hover span {
    text-decoration: none;
    color: #dddddd;
}

#header {
	margin: 0;
	border: none;
	background: #166491;
	position: relative;
	line-height: 40px;
  -moz-box-shadow: 0 2px 2px #888888;
  -webkit-box-shadow: 0 2px 2px #888888;
  box-shadow: 0 2px 2px #888888;
}

#header .constraint {
	padding-top: 0;
	padding-bottom: 0;
}

#header h1 {
	float: left;
	position: relative;
	z-index: 2;
}

#header .sections {
	text-align: right;
	font-size: 1.2em;
	position: relative;
	z-index: 1;
}


#main {
	padding-top: 0px;
	padding-bottom: 47px;
}

#footer {
	position: absolute;
	bottom: 0;
	height: 47px;
	width: 100%;
	font-size: 0.8em;
	border-top: 1px solid #ccc;
}

@media(min-width: 960px) {
	#footer li.copyright {
		float: right;
	}
}

.inline-list {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	margin: auto;
}

.inline-list li {
	display: inline-block;
	margin: 0;
	padding-right: 1em;
}

.inline-list li a {
	text-decoration: none;
}

#footer .inline-list li a i {
	/* icons */
	color: black;
}

.inline-list li a:hover span {
	text-decoration: underline;
}

/* search */

/* Argh, I hate this. */
.clearfix { clear: both }

#searchbar {
	width: 100%;
	overflow-x: hidden;
}

#searchbar form > * {
	font-size: 1.1em;
	line-height: 1em;
}

#searchbar form {
	width: 100%;
	position: relative;
}

#searchbar .search-wrap {
	position: relative;
	background: white;
	border: 1px solid black;
	max-width: 620px;
}

#searchbar .icon-search {
	position: absolute;
	left: 0;
	padding: 0 3px;
	max-width: 20px;
	margin-top: 3px;
}

#q {
	padding-left: 26px; /* 20px wide (icon) + 6px left/right margins (icon) */
	padding-right: 10em;
	border: none;
	width: 100%;
	outline: none;
}

#searchbar .submit {
	border: none;
	position: absolute;
	right: 0;
	padding: 5px 1em;
}

input[type=text] {
	margin: 0;
	padding: 5px;
	background: white;
	border: 1px solid black;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 5px;
	background: lightgrey;
	border: 1px solid black;
  border-left: none;
}

.icon-overlay .icon-search {
	margin-right: -5px;
}

.gray-input {
    color: #333333;
}

#searchbar.topmargin { margin-top: 15px; }
.center {
    text-align: center;
    margin: 0 auto;
}

.opensans { font-family: 'Open Sans', sans-serif; }
h1.opensans {
    font-weight: 400;
    font-size: 3em;
    letter-spacing: -3px;
}
h2.opensans {
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: -1px;
    color: #888888;
}

@media(min-width: 960px) {
	h1.opensans {
		font-size: 4em;
	}

	h2.opensans {
		font-size: 1.9em;
	}
}
