<p>The goal of Inatri is to create an <a href="/overviewer?q=Open+Source">Open Source</a> search platform.</p>

<p class="has-icons">You can find the source for everything on <a href="https://github.com/inatri"><i class="icon-github"></i><span>GitHub</span></a>.</p>

<p>You can contact us via:</p>

<ul class="has-icons">
  <li><a href="/+"><i class="icon-google-plus"></i><span>Google+</span></a></li>
  <li><a href="https://twitter.com/_inatri"><i class="icon-twitter"></i><span>Twitter</span></a></li>
  <li><a href="irc://irc.freenode.net/inatri"><i class="icon-comments"></i><span>IRC (#inatri on Freenode)</span></a></li>
  <li><a href="mailto:support@inatri.com"><i class="icon-envelope"></i><span>e-mail (support@inatri.com)</span></a></li>
</ul>

