<p>Inatri is an attempt at creating a fully open source web crawler, and building various utilities on top of that, including a <a href="/search">search engine</a>.</p>
<p>Want to help out? You can get hold of us via any of the various methods listed in the footer.</p>
