<h1 align="center" class="opensans">Search freely.</h1>
<h2 align="center" class="opensans">Free and Open Source search platform.</h2>

<div id="searchbar" class="topmargin center">
  <form action="/search" method="GET">
    <div class="gray-input search-wrap center">
      <i class="icon-search"></i>
      <input type="text" id="q" name="q" {{#query}}value="{{ query }}"{{/query}} placeholder="Search..." class="gray-input" tabindex="1"><button class="submit" type="submit" tabindex="1">Search <i class="icon-chevron-right"></i></button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>

<p align="center">Help us make an awesome search platform!</p>
<p align="center">We welcome contributions and support. See the footer and get involved.</p>
