<p>Inatri is an attempt at creating an <a href="https://github.com/inatri/crawler">open source web crawler</a>, and building various utilities on top of that.</p>
<p>These utilities, as you may expect, will include a search engine.</p>
