<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>{{#title}}{{title}} &mdash; {{/title}}{{ site }}{{#section}} {{ section }}{{/section}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/css/main.css">

<!-- Font Awesome - http://fortawesome.github.com/Font-Awesome -->
<link rel="stylesheet" type="text/css" href="/fonts/FortAwesome-Font-Awesome/css/font-awesome.css">

<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Droid+Sans|Exo">

<link href="https://plus.google.com/b/109306111401276833043/109306111401276833043" rel="publisher">
</head>
<body class="{{ section }}">
<div id="wrap">

<div id="header">
  <div class="constraint">
    <h1><a href="/">{{ site }}.</a></h1>
    <ul class="sections inline-list eox">
    	<li><a href="/search"><i class="icon-search"></i> <span>search</span></a></li>
      <li><a href="/overviewer"><i class="icon-list-ul"></i> <span>overviewer</span></a></li>
    </ul>
  </div>
</div>

<div id="main" class="constraint">

{{#search?}}
<div id="searchbar">
  <form action="{{ search_submit_url }}" method="GET">
    <i class="icon-search"></i> <input type="text" id="q" name="q" value="{{ query }}"><button type="submit">Search <i class="icon-chevron-right"></i></button>
  </form>
</div>
{{/search?}}

{{{ yield }}}

</div>

<div id="footer">
  <ul class="inline-list constraint">
    <li><a href="/+"><i class="icon-google-plus"></i> <span>Google+</span></a></li>
    <li><a href="https://twitter.com/_inatri"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
    <li><a href="https://github.com/inatri"><i class="icon-github"></i> <span>GitHub</span></a></li>
    <li><a href="mailto:support@inatri.com"><i class="icon-envelope"></i> <span>support@inatri.com</span></a></li>
    <li class="copyright">&copy; 2012 Nick Markwell.</li>
  </ul>
</div>


</div> <!-- #wrap -->
</body>
</html>
