<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>{{#title}}{{title}} &mdash; {{/title}}{{ site }}{{#section}} {{ section }}{{/section}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/css/main.css">

<!-- Font Awesome - http://fortawesome.github.com/Font-Awesome -->
<link rel="stylesheet" type="text/css" href="/fonts/FortAwesome-Font-Awesome/css/font-awesome.css">

<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Exo|Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700">

<link href="https://plus.google.com/b/107760508021462797009/107760508021462797009" rel="publisher">
</head>
<body class="{{ section }}">
<div id="wrap">

<div id="header">
  <div class="constraint">
    <h1><a href="/">{{ site }}.</a></h1>
    <ul class="sections inline-list exo">
      <li><a href="/search" class="never-underline"><i class="icon-search"></i><span>search</span></a></li>
      <li><a href="/overviewer" class="never-underline"><i class="icon-list-ul"></i><span>overviewer</span></a></li>
    </ul>
  </div>
</div>

<div id="main" class="constraint">

{{#search?}}
<div id="searchbar">
  <form action="{{ search_submit_url }}" method="GET">
    <div class="gray-input search-wrap">
      <i class="icon-search"></i>
      <input type="text" id="q" name="q" {{#query}}value="{{ query }}"{{/query}} placeholder="Search..." class="gray-input" tabindex="1"><button class="submit" type="submit" tabindex="1">Search <i class="icon-chevron-right"></i></button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
{{/search?}}

{{{ yield }}}

</div>

<div id="footer">
  <ul class="inline-list constraint">
    <li><a href="irc://irc.freenode.net/inatri"><i class="icon-comments"></i><span>#inatri (Freenode)</span></a></li>
    <li><a href="/+"><i class="icon-google-plus"></i><span>Google+</span></a></li>
    <li><a href="https://twitter.com/_inatri"><i class="icon-twitter"></i><span>Twitter</span></a></li>
    <li><a href="https://github.com/inatri"><i class="icon-github"></i><span>GitHub</span></a></li>
    <li><a href="mailto:support@inatri.com"><i class="icon-envelope"></i><span>support@inatri.com</span></a></li>
    <li class="copyright">&copy; 2012 Nick Markwell.</li>
  </ul>
</div>


</div> <!-- #wrap -->
</body>
</html>
