{{#query?}}
Attempting to get overview for {{ query }}.
{{/query?}}

{{^query?}}
<p>Overviewer is a search engine, but with a slight twist. It is a search engine which, instead of giving lists of relevant links, will attempt to provide an overview of the term you search for.</p>
<!--<p>Just enter a search term above and click "Search" to give it a try.</p>-->
{{/query?}}

<p>Inatri Overviewer is not yet implemented. Be sure to <a href="https://twitter.com/intent/follow?screen_name=_inatri" target="_blank">follow us on Twitter</a> for updates.</p>

